*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family:'Arial';
  background-color: blue;
  font-weight: 700;
  font-size: 20px;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 200px auto;
  width: 40%;
  height: 24vh;
  background-color: #fff8dc;
  border-radius: 5px;
  box-shadow: 0px 8px 27px -5px #E8D6CE;

}

.hr{
  width: 100%;
  height: 10px;
  border:outset
}

.frmin{
  width: 100%;
  background-color: cyan;
  border: outset;
  font-weight: 900;

}

.btn{
  width: 40%;
}